* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

label {
  display: block;
}

input:focus {
  outline: none;
}

.login {
  border-radius: 32px;
  padding: 32px;
  border: 1px solid #CCC;
  background: #FFF;
  width: max-content;

  font-family: "Plus Jakarta Sans";
  margin: 50px;
}

.login-group, .login-heading {
 margin-bottom: 16px;
}

.login-title {
 font-size: 32px; 
font-weight: 600;
}
.login-subtitle{
font-size: 24px;
font-weight: 500;
}
.login-input {
font-family: "Plus Jakarta Sans";
width: 325px;
font-size: 16px;
height: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;

border-radius: 4px;
border: 1px solid #CCC;
}

.login-input:hover {
  border-radius: 4px;
  border: 1px solid #000;
  background: #EEE;
}

.login-label {
  color: #555;
 font-family: "Plus Jakarta Sans";
 font-size: 16px;
 font-weight: 400;
}

.login-submit {
  display: flex;
 height: 40px;
 width: 325px;
 justify-content: center;
 align-items: center;
 align-self: stretch;

border-radius: 4px;
background: #1576EA;

color: #FFF;
text-align: center;
font-family: "Plus Jakarta Sans";
font-size: 16px;
font-weight: 700;
line-height: 40px; /* 250% */
}

.login-submit:hover
{
background: #0B0B0B;
}